### PROTECT FILES###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule zatrudnij-programiste-webowego index.html
RewriteRule kim-jestem whoAmI.html
RewriteRule oferta-tworzenie-stron-www whatImOffering.html
RewriteRule cv-programista-javascript cv.html
RewriteRule kontakt-programista-js contact.html